
/* 아직 분리 후 완료하지않음 */

/* login.css 와 signup.css 공통 사용 코드 */

/* 전체 페이지 스타일 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

/* 컨테이너 공통 스타일 */
.auth-container {
  text-align: center;
  background-color: #ffffff;
  padding: 50px;
  width: 450px;
}

/* 로고 스타일 */
.auth-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  width: 80px;
  height: 80px;
}

.title {
  color: #3692FF;
  font-size: 50px;
  font-family: "ROKAF Sans";
}

/* 폼 스타일 */
.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.auth-form label {
  font-size: 14px;
  font-weight: bold;
  color: #1F2937;
  text-align: left;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #F3F4F6;
  border-radius: 5px;
  font-size: 14px;
  background-color: #F3F4F6;
}

/* 비밀번호 입력 영역 */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  margin-right: -23px;
}

.password-wrapper .toggle-btn {
  position: absolute;
  right: 0px;
}

.toggle-btn {
  width: 20px;
  height: 20px;
}

/* 버튼 스타일 */
.auth-form button {
  cursor: pointer;
  width: 472px;
  height: 40px;
  background-color: #9CA3AF;
  color: #ffffff;
  border-radius: 20px;
  border-width: 0;
  margin: 10px 0 20px;
}

/* 간편 로그인 스타일 */
.conv-login {
  position: relative;
  display: flex;
  background-color: #E6F2FF;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-size: 14px;
  border-radius: 8px;
  padding: 0 15px;
}

.conv-login p {
  margin: 0 10px;
}

.conv-icons {
  position: absolute;
  display: flex;
  right: 10px;
  gap: 7px;
}

.conv-icons a {
  display: flex;
  align-items: center;
}

.conv-icons img {
  width: 30px;
  height: 30px;
}

/* 회원가입 링크 */
.signup {
  font-size: 12px;
}

.signup a {
  color: #3692FF;
}

/* 반응형 스타일 */
@media (max-width: 767px) {
  .auth-container {
    width: calc(100% - 32px);
    max-width: 400px;
    padding: 0 16px;
  }

  .auth-form button {
    width: 100%;
  }
}